RewriteEngine On
Options -Indexes

# Blok akses langsung ke file sensitif
<FilesMatch "(^\.|\.env|composer\.(json|lock)|package(-lock)?\.json|yarn\.lock|.*\.sql|.*\.log)$">
    Require all denied
    <IfModule !mod_authz_core.c>
        Deny from all
    </IfModule>
</FilesMatch>

# Blok akses ke folder internal
RewriteRule ^(?:app|config|database|storage)/ - [F,L,NC]

# Arahkan /assets ke public/assets
RewriteRule ^assets/(.*)$ public/assets/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ public/index.php [L]
